a {
    color:black;
    text-decoration: none;
}
#image{
    display: none;
}
.columnDiv, #knowledgeDiv, #name{
    width:98vw;
    border-bottom: 2px solid black;
}
#end{
    display:none;
}
#educationDiv{
    border-bottom:none;
}